body {
    margin: 0;
    padding: 0;
}
.cursos-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
    border-radius: 0%;   
}

h1{
    text-align: center;
    margin-bottom: 15rem;  
}
p {
    text-align: justify;
}
.mas_informacion {
    display: block;
    width: fit-content;
    margin: 0.5rem auto 0.5rem auto;
    padding: 10px 20px;
    background-color: #00345b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.mas_informacion:hover {
    background-color: #60a0b2;
}

@media (max-width: 480px) {
    .cursos-img {
        height: 200px;
        top: 200px;
    }
    h1{
        margin-top: 2rem;
        margin-bottom: 10rem;  
    }
}