body {
    margin: 0;
    padding: 0;
}
.novedades-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
    border-radius: 0%;   
}

h1{
    text-align: center;
    margin-bottom: 10rem;  
}

@media (max-width: 480px) {
    .novedades-img {
        height: 200px;
        top: 200px;
    }
    h1{
        margin-top: 2rem;
        margin-bottom: 10rem;  
    }
}