body {
    margin: 0;
    padding: 0;
}
.quienes-somos-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
    border-radius: 0%;
    
}
.quienes-somos {
    z-index: 0;
}
h1{
    text-align: center;
    margin-top: 10rem;
    
}
.container_parrafo{
    margin-top: 15rem;
    padding: 3rem 3rem;
}
.container_parrafo p{
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
}
.container_parrafo:hover {
    background-color: #caf4ff;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .container_parrafo {
        padding: 2rem 1rem;
        margin-top: 10rem;
    }
    .container_parrafo p {
        font-size: 1rem;
    }
    
}
@media (max-width: 480px) {
    .quienes-somos-img {
        height: 200px;
        top: 200px;
    }
    .container_parrafo {
        padding: 1rem 0.5rem;
        margin-top: 8rem;
    }
    h1{
        margin-top: 2rem;
    }
    .container_parrafo p {
        margin: 0 !important;
        font-size: 0.9rem;
    }
}