body {
    margin: 0;
    padding: 0;
}
.quienes-somos-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
    border-radius: 0%;
    
}
.quienes-somos {
    z-index: 0;
}
h1{
    text-align: center;
    margin-top: 10rem;
    
}
.container_parrafo{
    margin-top: 15rem;
    padding: 3rem 3rem;
}
.container_parrafo p{
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
}
.container_parrafo:hover {
    background-color: #caf4ff;
    transition: background-color 0.3s ease;
}